.button__removeTask {
    background-color: crimson;
    color:white;
    width: 30px;
    height: 30px;
    padding:0;
    border:none;
}

.button__removeTask:hover{
    background-color: rgb(230, 36, 74);
}

.button__removeTask:active{
    background-color: rgb(243, 55, 93);
}