.section {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
}

.section__button {
    background: none;
    border: none;
    color: hsl(180, 100%, 25%);
    font-size: 18px;
    margin: 0 5px;
    transition: 0.5s;
}

.section__button:hover {
    color: hsl(180, 80%, 35%);
}

.section__button:active {
    color: hsl(180, 60%, 45%);
}