.html {
    box-sizing: border-box;
    height: 100%;
}

*, ::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(233, 231, 231);
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.js-item--done {
    text-decoration: line-through;
}

.section {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    display: grid;
}


.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

@media(max-width:767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.header {
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.form__newTask {
    padding: 10px;
    margin-left: 20px;
    border: 1px solid rgb(209, 209, 209);
    align-self: center;
    margin-bottom: 10px;
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    align-self: center;
    padding: 10px;
    margin-bottom: 10px;
}

.form__button:hover {
    background-color: rgb(2, 150, 150);
}

.form__button:active {
    background-color: rgb(2, 173, 173);
}

.container {
    margin: 0 auto;
    max-width: 900px;
    border: none;
    width: 100%;
}

.task__list {
    list-style: none;
    padding: 5px;
    padding: 40px 20px 20px 20px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.list__button--done {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
}

.list__button--done:hover{
    background-color: rgb(1, 151, 1);
}

.list__button--done:active{
    background-color: rgb(2, 179, 2);
}

.button__removeTask {
    background-color: crimson;
    color:white;
}

.button__removeTask:hover{
    background-color: rgb(230, 36, 74);
}

.button__removeTask:active{
    background-color: rgb(243, 55, 93);
}