.html {
    box-sizing: border-box;
    height: 100%;
}

*, ::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(233, 231, 231);
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.js-item--done {
    text-decoration: line-through;
}

.section {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    display: grid;

}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

.header {
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.form__newTask {
    padding:10px;
    margin-left: 20px;
    border: 1px solid rgb(209, 209, 209);
    align-self:center;
    margin-bottom:10px;
}

.form__button {
    background-color: teal;
    color: white;
    border: none; 
    align-self:center;
    padding:10px;
    margin-bottom:10px;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    border: none;
    width: 100%;
}

.task__list {
    list-style: none;
    padding: 5px;
    padding: 40px 20px 20px 20px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.list__button--done {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
}

.button__removeTask {
    background-color: crimson;
}